@media (max-width: 600px) {
    /*features section start*/
    .feature-card {
        width: 100%;
    }
    /*features section end*/

    /*branding section start*/
    #branding {
        padding: 0;
    }
    #branding .row {
        flex-direction: column-reverse;
    }
    .branding_img {
        width: 100%;
        overflow: hidden;
    }
    .branding_info {
        width: 100%;
        padding: 50px 30px;
    
    }
    /*branding section end*/

    /*service section start*/
    #service .row {
        flex-direction: column-reverse;
    }
    .service_container{
        width: 100%;
        
    }

    .service_info{
        width: 100%;
        text-align: left;
        margin-bottom: 40px;
    }

    .counter{
        justify-content: flex-start;
    }

    /*service section end*/



    #experience {
        padding: 50px 0;
    }

    #experience h1 {
        font-size: 28px;
    }

    .experience-table {
        display: block;
    }

    .experience-table tbody,
    .experience-table tr {
        display: block;
        width: 100%;
    }

    .experience-table tr {
        min-height: 180px;
        height: auto;
        position: relative;
    }

    .experience-left {
        display: block;
        width: 40%;
        padding-right: 20px;
    }

    .divider {
        position: absolute;
        left: 40%;
        top: 0;
        width: 0;
        height: 100%;
    }

    .experience-right {
        display: block;
        width: 60%;
        margin-left: 40%;
        padding-left: 30px;
        
    }

}